*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

.parallax1{
	background-image: url(../images/nissanwalker2.jpg);
	min-height:600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
}

.parallax2{
	background-image: url(../images/nissannfs.jpg);
	min-height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%
}

.parallax3{
	background-image: url(../images/nissantuner.jpg);
	min-height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%
}

.row{
	margin-right: 0;
	margin-left: 0;
}

/*breakpoints*/

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

.parallax1,
.parralax2,
.parallax3{
	min-height: 300px;
}


/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {


}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 