*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}


body{
	background-image: url(../images/background.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

}
html, body{
	max-width: 100%;
	overflow-x: hidden;
}

.img-container{
  position:relative;
  display:inline-block;
}
	.img-container .overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(153,153,153, 0.5);
  opacity:0;
  transition:opacity 500ms ease-in-out;
}

.img-container:hover > .overlay{
  opacity:1;
 }

 .overlay > span{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#fff;
}


.nav{
	z-index: 2 !important;
}

.caption {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 100%;
    z-index: 3;
    /*margin:0 auto;*/
}


/*Gojira of the day*/
          .daycontainer{
            /*position:relative;*/

          }

          .image{
            opacity:1;
            /*display:block;*/
            transition: .3s ease;
            backface-visibility: hidden;
            /*width: 100%*/
            height: auto;
            /*z-index: 1;*/
          }

          .text{
            transition: .3s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            /*z-index: -1;*/
          }

          .daycontainer:hover  .image{
            opacity: 0.7;
          }

          .daycontainer:hover  .text{ 
            opacity: 1;
           }


           .text-content{
            background-color: rgb(247, 247, 247);
            padding: 2px 2px 2px 2px;
            border-radius: 5px;
           }
          





.blockquote{
	background-color: #484C57;
}

.jumbotron{
	background-color: rgba(211,211,211, 0.6) !important;	
  font-family: Abel;
}


.img-thumbnail {
  background-color: rgba(211,211,211, 0.6);
}


#myleftnav > a {
    position: relative;
    left: -50%;
    transition: 0.3s;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 300px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;

}

#myleftnav>a:hover {
    left: 0;
}

   
    /*background-color: #4CAF50;*/

#myrightnav > a {
    position: relative;
    right: -50%;
    transition: 0.3s;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;

}

#myrightnav>a:hover {
    right: 0;
}

.left-text{
	text-align:right;
}

.imgleft{
	text-align:left !important;
}

#footer{
	background-color: rgba(10,24,221, 0.9);
}

#mainicon{
  margin:0 auto;
  text-align: center;
  display: block;
  width: auto;
}

#navicon{
	position: relative;
}

.rounded-circle{
  border-radius: 50% !important;
}

#footer{
  background-color: rgba(38,82,191, 0.7);
}

.card{
  background-color: #484C57;
}

.navbar{
  background-color: rgba(132,132,132,0.7);
}
h1, h2, h4, h3{
  color: #4083AE;
}

h5, h6{
  color: rgb(247, 247, 247) ;
  font-weight: 700;
}

p{
  color: white;
  font-family: 'Abel';
}

h2{
  font-family: 'Bungee'
}

hr{
  background-color: #F2F2F2;
}

body{
  background-color: #0B0C11;
}

h3{
  font-family: 'Faster One'
}



/*to copy*/

a{
  font-family: 'Rajdhani', sans-serif;
}

.modal-body > p{
  color: black;
}

.fab{
  font-size:  2em;
  margin-left: 13px;
  margin-right: 13px;
}


a{
  text-decoration: none;
  color: rgb(247, 247, 247);
}

.contact{
  color: rgb(247, 247, 247);
}









/*breakpoints*/

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

#myleftnav{
	display: block;
}



/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

#foottext{
	float:none 
}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 