*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	color: rgb(247, 247, 247) ;
}



#content{
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top:25px;
}

.row{
	padding-right: 0px;
	padding-left: 0px;
}

img-thumbnail{
	margin: 0 auto;
}


#cf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

.top {
  position:relative;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  z-index: 1;
}

.top:hover {
  opacity:0;
}

.cont{
	/*position: relative;*/
	max-height: 480px;
}

.bottom{
	position: relative;
	bottom: 97.5%; 
	/*float: right;*/

}

#footer{
	background-color: rgba(38,82,191, 0.7);
}

.card{
	background-color: #484C57;
}

.navbar{
	background-color: rgba(132,132,132,0.7);
}
h1, h4, p{
	color: #4083AE;
}

hr{
	background-color: #F2F2F2;
}

body{
	background-color: #0B0C11;
}

a{
  font-family: 'Rajdhani', sans-serif;
}

h1{
	font-family: 'Bungee'
}
 p{
 	font-family: 'Abel';
 	font-weight: 300;
 	font-size: 1em;
 }

 h4{
 	font-family: 'Faster One'
 }

 .fab{
  font-size:  2em;
  margin-left: 13px;
  margin-right: 13px;
}


a{
  text-decoration: none;
  color: rgb(247, 247, 247);
}

.contact{
  color: rgb(247, 247, 247);
}





/*breakpoints*/

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

#caption-side: {
	position: initial;
}

.cont{
	max-height: 9.5em;

}
.bottom{
	visibility: hidden;
}

.top:hover{

opacity: 1;
}

}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

#side-caption{
	position: initial;
}

.top:hover{

opacity: 1;
}

.cont{
	max-height: 14em;

}
.bottom{
	visibility: hidden;
}

}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

#side-caption{
	position: initial;

}

.cont{
	max-height: 18em;

}
.bottom{
	
	visibility: hidden !important;
}

.top:hover{

opacity: 1;

}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
#side-caption{
	position: initial;
}
.cont{
	max-height: 25em;

}
.bottom{
	
	visibility: hidden !important;
}

.top:hover{

opacity: 1;

}

}



/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 